/* screen - ausgang */

.ausgang {
  align-items: flex-start;
  background-color: var(--ebb);
  display: flex;
  flex-direction: column;
  height: 2895px;
  overflow: hidden;
  width: 100%;
}

.ausgang .overlap-group6 {
  height: 126px;
  margin-left: 0;
  position: relative;
  width: 100%;
}


.ausgang .men {
  align-items: flex-start;
  display: flex;
  height: 61px;
  left: 1647px;
  min-width: 310px;
  padding: 0.0px 122.0px;
  position: absolute;
  top: 37px;
}

.ausgang .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 67px;
  margin-top: 63px;
  min-width: 1480px;
}


.ausgang .overlap-group {
  height: 404px;
  margin-left: 261px;
  position: relative;
  width: 372px;
}

.ausgang .ausgang-1 {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 120px;
  font-weight: 700;
  left: 5px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 54px;
  white-space: nowrap;
}

.ausgang .filter {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 51px;
  margin-bottom: 5px;
  margin-left: 423px;
  min-width: 338px;
}

.gruenes-rechteck {
  background-color: #82c6b9;
  height: 352px;
  left: 0;
  opacity: 0.89;
  position: absolute;
  top: 0;
  width: 372px;
}

.gruenes-rechteck2 {
  background-color: #95ddb8;
  height: 341px;
  left: 52px;
  opacity: 0.43;
  position: absolute;
  top: 63px;
  width: 297px;
}

.rechteck-filter {
  background-color: var(--white);
  border: 5px solid;
  border-color: var(--black);
  border-radius: 4px 0px 0px 4px;
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}
.ausgang .overlap-group2 {
  height: 52px;
  margin-bottom: -0.5px;
  position: relative;
  width: 338px;
}

.ausgang .overlap-group1 {
  height: 30px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 338px;
}

.ausgang .overlap-group-1 {
  height: 15px;
  position: relative;
  width: 93px;
}

.ausgang .text-11 {
  left: 145px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
}

.ausgang .text-12 {
  height: 26px;
  left: 282px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 39px;
}

.ausgang .button {
  background-color: var(--black);
  height: 51px;
  left: 262px;
  position: absolute;
  top: 0;
  width: 75px;
}

.ausgang .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  min-height: 2258px;
  width: 1920px;
}

.ausgang .place-1 {
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -4px;
  margin-left: 114px;
  min-height: 46px;
  min-width: 111px;
  white-space: nowrap;
}

.ausgang .overlap-group5 {
  height: 87px;
  margin-top: 28px;
  position: relative;
  width: 1172px;
}

.ausgang .gruppe-750 {
  display: flex;
  height: 87px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1172px;
}

.ausgang .gruppe-2 {
  background-color: var(--white);
  display: flex;
  flex: 1;
  width: 1172px;
}

.ausgang .bierhbeli {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 101px;
  min-height: 51px;
  min-width: 163px;
  white-space: nowrap;
}

.ausgang .text {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 72px;
  min-height: 51px;
  min-width: 90px;
  white-space: nowrap;
}

.ausgang .text-10 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 170px;
  min-height: 51px;
  min-width: 39px;
  white-space: nowrap;
}

.ausgang .komponente-42-1 {
  cursor: pointer;
  height: 87px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1172px;
}

.ausgang .gruppe-762 {
  background-color: var(--white);
  display: flex;
  height: 87px;
  margin-top: 17px;
  width: 1172px;
}

.ausgang .gruppe-276 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 49px;
  margin-left: 41px;
  margin-right: 115px;
  margin-top: 19px;
  min-width: calc(100.00% - 156px);
}

.ausgang .date-4 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  min-height: 51px;
  min-width: 120px;
  white-space: nowrap;
}

.ausgang .x80s {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 97px;
  min-height: 51px;
  min-width: 63px;
  white-space: nowrap;
}

.ausgang .surname {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 222px;
  min-height: 51px;
  min-width: 107px;
  white-space: nowrap;
}

.ausgang .text-1 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 128px;
  min-height: 51px;
  min-width: 90px;
  white-space: nowrap;
}

.ausgang .text-38 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 168px;
  min-height: 51px;
  min-width: 23px;
  white-space: nowrap;
}

.ausgang .overlap-group3 {
  height: 1462px;
  margin-right: 2.0px;
  margin-top: 20px;
  position: relative;
  width: 1646px;
}

.ausgang .gelbes-rechteck2 {
  background-color: var(--energy-yellow);
  height: 1005px;
  left: 157px;
  opacity: 0.74;
  position: absolute;
  top: 457px;
  width: 1489px;
}

.ausgang .gelbes-rechteck1 {
  background-color: var(--milan);
  height: 988px;
  left: 0;
  opacity: 0.63;
  position: absolute;
  top: 71px;
  width: 1454px;
}

.ausgang .house-party {
  height: 79px;
  left: 238px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 548px;
  white-space: nowrap;
  width: 546px;
}

.ausgang .bildlaufgruppe-3::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ausgang .bildlaufgruppe-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 239px;
  min-height: 729px;
  overflow-y: scroll;
  position: absolute;
  top: 654px;
  width: 1172px;
}

.ausgang .gruppe-741 {
  display: flex;
  flex-direction: column;
  height: 191px;
  justify-content: space-between;
  margin-top: 1055px;
  width: 1172px;
}

.ausgang .gruppe-21 {
  background-color: var(--white);
  display: flex;
  flex: 1;
  height: 87px;
  max-height: 87px;
}

.ausgang .gruppe-159 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 49px;
  margin-left: 41px;
  margin-right: 81px;
  margin-top: 19px;
  min-width: calc(100.00% - 122px);
}

.ausgang .date-1 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  min-height: 51px;
  min-width: 131px;
  white-space: nowrap;
}

.ausgang .bierhbelli {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 86px;
  min-height: 51px;
  min-width: 173px;
  white-space: nowrap;
}

.ausgang .place {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 112px;
  min-height: 51px;
  min-width: 76px;
  white-space: nowrap;
}

.ausgang .text-2 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 159px;
  min-height: 51px;
  min-width: 90px;
  white-space: nowrap;
}

.ausgang .text-3 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 166px;
  min-height: 51px;
  min-width: 59px;
  white-space: nowrap;
}

.ausgang .gruppe-742 {
  display: flex;
  flex-direction: column;
  height: 191px;
  justify-content: space-between;
  width: 1172px;
}

.ausgang .gruppe-743 {
  background-color: var(--white);
  display: flex;
  height: 87px;
  left: 239px;
  position: absolute;
  top: 1287px;
  width: 1172px;
}

.ausgang .gruppe-159-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 49px;
  margin-left: 41px;
  margin-right: 126px;
  margin-top: 19px;
  min-width: calc(100.00% - 167px);
}

.ausgang .name {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 100px;
  min-height: 51px;
  min-width: 102px;
  white-space: nowrap;
}

.ausgang .place-2 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 183px;
  min-height: 51px;
  min-width: 76px;
  white-space: nowrap;
}

.ausgang .text-4 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 166px;
  min-height: 51px;
  min-width: 14px;
  white-space: nowrap;
}

.ausgang .gruppe-744 {
  background-color: var(--white);
  display: flex;
  height: 87px;
  left: 239px;
  position: absolute;
  top: 1180px;
  width: 1172px;
}

.ausgang .beat {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 86px;
  min-height: 51px;
  min-width: 73px;
  white-space: nowrap;
}

.ausgang .place-3 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 212px;
  min-height: 51px;
  min-width: 83px;
  white-space: nowrap;
}

.ausgang .text-15 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 152px;
  min-height: 51px;
  min-width: 90px;
  white-space: nowrap;
}

.ausgang .gruppe-745 {
  display: flex;
  height: 87px;
  left: 239px;
  position: absolute;
  top: 1076px;
  width: 1172px;
}

.ausgang .name-1 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 100px;
  min-height: 51px;
  min-width: 70px;
  white-space: nowrap;
}

.ausgang .name-2 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 215px;
  min-height: 51px;
  min-width: 133px;
  white-space: nowrap;
}

.ausgang .text-17 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 102px;
  min-height: 51px;
  min-width: 90px;
  white-space: nowrap;
}

.ausgang .gruppe-746 {
  background-color: var(--white);
  display: flex;
  height: 87px;
  left: 239px;
  position: absolute;
  top: 969px;
  width: 1172px;
}

.ausgang .date-2 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  min-height: 51px;
  min-width: 124px;
  white-space: nowrap;
}

.ausgang .name-3 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 93px;
  min-height: 51px;
  min-width: 110px;
  white-space: nowrap;
}

.ausgang .weissenbhl {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 175px;
  min-height: 51px;
  min-width: 204px;
  white-space: nowrap;
}

.ausgang .text-19 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 31px;
  min-height: 51px;
  min-width: 90px;
  white-space: nowrap;
}

.ausgang .gruppe-747 {
  background-color: var(--white);
  display: flex;
  height: 87px;
  left: 239px;
  position: absolute;
  top: 865px;
  width: 1172px;
}

.ausgang .date-3 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  min-height: 51px;
  min-width: 118px;
  white-space: nowrap;
}

.ausgang .place-4 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 99px;
  min-height: 51px;
  min-width: 55px;
  white-space: nowrap;
}

.ausgang .breitsch {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 230px;
  min-height: 51px;
  min-width: 129px;
  white-space: nowrap;
}

.ausgang .text-2-1 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 106px;
  min-height: 51px;
  min-width: 90px;
  white-space: nowrap;
}

.ausgang .gruppe-748 {
  background-color: var(--white);
  display: flex;
  height: 87px;
  left: 239px;
  position: absolute;
  top: 758px;
  width: 1172px;
}

.ausgang .name-4 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 99px;
  min-height: 51px;
  min-width: 75px;
  white-space: nowrap;
}

.ausgang .breitsch-1 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 210px;
  min-height: 51px;
  min-width: 129px;
  white-space: nowrap;
}

.ausgang .gruppe-749 {
  display: flex;
  height: 87px;
  left: 239px;
  position: absolute;
  top: 654px;
  width: 1172px;
}

.ausgang .name-5 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 100px;
  min-height: 51px;
  min-width: 85px;
  white-space: nowrap;
}

.ausgang .lnggasse {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 200px;
  min-height: 51px;
  min-width: 166px;
  white-space: nowrap;
}

.ausgang .text-5 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 69px;
  min-height: 51px;
  min-width: 90px;
  white-space: nowrap;
}

.ausgang .balken2 {
  background-color: var(--white);
  display: flex;
  height: 87px;
  left: 238px;
  position: absolute;
  top: 0;
  width: 1172px;
}

.ausgang .gruppe-282 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 49px;
  margin-left: 41px;
  margin-right: 77px;
  margin-top: 19px;
  min-width: calc(100.00% - 118px);
}

.ausgang .afrobeats {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 99px;
  min-height: 51px;
  min-width: 154px;
  white-space: nowrap;
}

.ausgang .karma {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 131px;
  min-height: 51px;
  min-width: 107px;
  white-space: nowrap;
}

.ausgang .text-28 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 170px;
  min-height: 51px;
  min-width: 59px;
  white-space: nowrap;
}

.ausgang .gruppe-758 {
  display: flex;
  height: 87px;
  left: 238px;
  position: absolute;
  top: 104px;
  width: 1172px;
}

.ausgang .gruppe-280 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 49px;
  margin-left: 41px;
  margin-right: 103px;
  margin-top: 19px;
  min-width: calc(100.00% - 144px);
}

.ausgang .nachtseminar {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 93px;
  min-height: 51px;
  min-width: 223px;
  white-space: nowrap;
}

.ausgang .bierhbeli-1 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 62px;
  min-height: 51px;
  min-width: 163px;
  white-space: nowrap;
}

.ausgang .text-30 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 168px;
  min-height: 51px;
  min-width: 35px;
  white-space: nowrap;
}

.ausgang .gruppe-759 {
  background-color: var(--white);
  display: flex;
  height: 87px;
  left: 238px;
  position: absolute;
  top: 422px;
  width: 1172px;
}

.ausgang .gruppe-290 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 49px;
  margin-left: 41px;
  margin-right: 113px;
  margin-top: 19px;
  min-width: calc(100.00% - 154px);
}

.ausgang .noche-cuba {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 86px;
  min-height: 51px;
  min-width: 195px;
  white-space: nowrap;
}

.ausgang .schr {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 90px;
  min-height: 51px;
  min-width: 92px;
  white-space: nowrap;
}

.ausgang .text-31 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 143px;
  min-height: 51px;
  min-width: 90px;
  white-space: nowrap;
}

.ausgang .text-32 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 170px;
  min-height: 51px;
  min-width: 23px;
  white-space: nowrap;
}

.ausgang .gruppe-760 {
  background-color: var(--white);
  display: flex;
  height: 87px;
  left: 238px;
  position: absolute;
  top: 315px;
  width: 1172px;
}

.ausgang .gruppe-284 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 49px;
  margin-left: 41px;
  margin-right: 79px;
  margin-top: 19px;
  min-width: calc(100.00% - 120px);
}

.ausgang .dj-gio {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 100px;
  min-height: 51px;
  min-width: 108px;
  white-space: nowrap;
}

.ausgang .dachstock {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 177px;
  min-height: 51px;
  min-width: 166px;
  white-space: nowrap;
}

.ausgang .text-34 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 168px;
  min-height: 51px;
  min-width: 59px;
  white-space: nowrap;
}

.ausgang .gruppe-761 {
  display: flex;
  height: 87px;
  left: 238px;
  position: absolute;
  top: 211px;
  width: 1172px;
}

.ausgang .gruppe-286 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 49px;
  margin-left: 41px;
  margin-right: 83px;
  margin-top: 19px;
  min-width: calc(100.00% - 124px);
}

.ausgang .planet-bfh {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 93px;
  min-height: 51px;
  min-width: 178px;
  white-space: nowrap;
}

.ausgang .karma-1 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 107px;
  min-height: 51px;
  min-width: 107px;
  white-space: nowrap;
}

.ausgang .text-36 {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 170px;
  min-height: 51px;
  min-width: 53px;
  white-space: nowrap;
}

.ausgang .overlap-group4 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 266px;
  justify-content: flex-end;
  margin-top: 101px;
  min-width: 1920px;
  padding: 55px 187px;
}

.ausgang .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 125px;
  width: 113px;
}

.ausgang .ber-uns {
  display: flex;
  height: 30px;
  width: 90px;
}

.ausgang .ber-uns-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2px;
  margin-right: -2px;
  width: 90px;
}

.ausgang .komponente-34-18 {
  align-self: flex-end;
  display: flex;
  height: 32px;
  justify-content: space-between;
  width: 186px;
}

.ausgang .ber-uns-2 {
  display: flex;
  margin-top: 2.1px;
  width: 125px;
}

.ausgang .komponente-33-18 {
  display: flex;
  height: 27px;
  justify-content: space-between;
  margin-top: 17px;
  width: 155px;
}

.ausgang .komponente-32-18 {
  display: flex;
  height: 34px;
  justify-content: space-between;
  margin-top: 14px;
  width: 181px;
}

.ausgang .flex-col-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36.0px;
  margin-left: 159px;
  min-height: 80px;
  width: 210px;
}

:root {
  --background: rgb(155, 87, 87);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #93d486;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.content {
  height: 200vh;
  background-color: #d6607a;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* Navigation Style */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  height: 100px;
  z-index: 999;
  width: 100%;
  }
  
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
   display: block;
   background: white;
   height: 2px;
   width: 2em;
  border-radius: 2px ;
  position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
  bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top : 7px;
    }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
  margin-left: 1em;
  margin-bottom: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: rgb(255, 255, 255);
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative
  }
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
  