:root { 
  --black: #000000;
  --ebb: #e3e3e3;
  --energy-yellow: #f5e05a;
  --milan: #faf3a4;
  --mona-lisa: #fb9e97;
  --white: #ffffff;
 
  --font-size-l: 21px;
  --font-size-m: 20px;
  --font-size-s: 14px;
  --font-size-xl: 39px;
  --font-size-xs: 12px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 45px;
 
  --font-family-adobeclean-regular: "AdobeClean-Regular", Helvetica;
  --font-family-arial: "Arial", Helvetica;
  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-futura-bold: "Futura-Bold", Helvetica;
  --font-family-futura-medium: "Futura-Medium", Helvetica;
  --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
/* Header */
:root {
  --background: rgb(0, 0, 0);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.content {
  height: 200vh;
  background-color: #d6607a;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* Navigation Style */

header {
  background: var(--background);
  text-align: center;
  position: relative;
  height: 100px;
  z-index: 999;
  width: 100%;
  }
  
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
   display: block;
   background: white;
   height: 2px;
   width: 2em;
  border-radius: 2px ;
  position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
  bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top : 7px;
    }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
  margin-left: 1em;
  margin-bottom: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: rgb(255, 255, 255);
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
  
  .Navlogo {
    grid-column: 1 / 3;
    margin-left: 30%;
    align-items: center;
  }
  
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative
  }
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }


.gruenes-rechteck {
  background-color: #82c6b9;
  height: 352px;
  left: 0;
  opacity: 0.9;
  position: absolute;
  margin-top: 2%;
  margin-left: 20%;
  width: 372px;

}
.gruenes-rechteck2 {
background-color: #95ddb8;
height: 341px;
left: 50px;
opacity: 0.5;
position: absolute;
margin-top: -12%;
margin-left: 20%;
width: 297px;
z-index: 2;
}

.gelbes-rechteck1 {
  background-color: var(--milan);
  display: block;
  height: 1005px;
  width: 1489px;
  opacity: 0.74;
  position: absolute;
  z-index: -1;
  margin-top: 16%;
  margin-left: 5%;
}

.gelbes-rechteck2 {
  background-color: var(--energy-yellow);
  display: block;
  height: 988px;
  width: 1454px;
  opacity: 0.63;
  position: absolute;
  z-index: -2;
  margin-top: 40%;
  margin-left: 15%;
}

.ausgang-1 {
  font-size: 120px;
  font-weight: 700;
  left: 5px;
  letter-spacing: 0;
  line-height: 120px;
  position: relative;
  padding-top: 5%;
  margin-left: 20%;
  margin-top: 10%;
  font-family: var(--font-family-poppins);
  z-index: 3;
}

.subtitle {
  font-size: 13px;
  font-weight: 700;
  left: 5px;
  letter-spacing: 0;
  line-height: 120px;
  position: relative;
  padding-top: 5%;
  margin-left: 10%;
  margin-top: -1%;
  font-family: var(--font-family-poppins);
}

table {
margin-top: 20%;
width: 80%;   /* container width */
margin: 0 auto;  /* Center container */
background-color: white;
text-align: center;
border: 1px solid white;    /* container border */
border-collapse: collapse; 
}

.test {
  margin-top: 300px;
}

#table-header {
padding: 100%;
font-weight: bold;
border: 20px solid var(--milan);
font-family: Arial, Helvetica, sans-serif;
font-size: var(--font-size-xl)
}

#clubs .table-event {
  border: 20px solid var(--milan);
}

#house_parties .table-event {
  border: 20px solid var(--milan);
}

.table-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 25px
}

.table-text{
  height: 79px;
  letter-spacing: 0;
  line-height: 70px;
  margin-right: 624.0px;
  margin-top: 21px;
  width: 546px;
}

.footer {
  background-color: black;
  padding: 70px 0;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}


.footer-col {
width: 25%;
padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-family: "Arial-Bold";
  position: relative;
  text-align: left; /* Force text to left */
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  text-align: left;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}