:root { 
  --black: #000000;
  --ebb: #e3e3e3;
  --energy-yellow: #f5e05a;
  --milan: #faf3a4;
  --mona-lisa: #fb9e97;
  --white: #ffffff;
 
  --font-size-l: 21px;
  --font-size-m: 20px;
  --font-size-s: 14px;
  --font-size-xl: 39px;
  --font-size-xs: 12px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 45px;
 
  --font-family-adobeclean-regular: "AdobeClean-Regular", Helvetica;
  --font-family-arial: "Arial", Helvetica;
  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-futura-bold: "Futura-Bold", Helvetica;
  --font-family-futura-medium: "Futura-Medium", Helvetica;
  --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}

.gruenes-rechteck {
  background-color: #82c6b9;
  height: 352px;
  left: 0;
  opacity: 0.9;
  position: absolute;
  margin-top: 2%;
  margin-left: 20%;
  width: 372px;

}
.gruenes-rechteck2 {
background-color: #95ddb8;
height: 341px;
left: 50px;
opacity: 0.5;
position: absolute;
margin-top: -12%;
margin-left: 20%;
width: 297px;
z-index: 2;
}

.gelbes-rechteck1 {
  background-color: var(--milan);
  display: block;
  height: 1005px;
  width: 1489px;
  opacity: 0.74;
  position: absolute;
  z-index: -1;
  margin-top: 16%;
  margin-left: 5%;
}

.gelbes-rechteck2 {
  background-color: var(--energy-yellow);
  display: block;
  height: 988px;
  width: 1454px;
  opacity: 0.63;
  position: absolute;
  z-index: -2;
  margin-top: 40%;
  margin-left: 15%;
}

.ausgang-1 {
  font-size: 120px;
  font-weight: 700;
  left: 5px;
  letter-spacing: 0;
  line-height: 120px;
  position: relative;
  padding-top: 5%;
  margin-left: 20%;
  margin-top: 10%;
  font-family: var(--font-family-poppins);
  z-index: 3;
}

.subtitle {
  font-size: 13px;
  font-weight: 700;
  left: 5px;
  letter-spacing: 0;
  line-height: 120px;
  position: relative;
  padding-top: 5%;
  margin-left: 10%;
  margin-top: -1%;
  font-family: var(--font-family-poppins);
}

table {
margin-top: 20%;
width: 80%;   /* container width */
margin: 0 auto;  /* Center container */
background-color: white;
text-align: center;
border: 1px solid white;    /* container border */
border-collapse: collapse; 
}

.test {
  margin-top: 300px;
}

#table-header {
padding: 100%;
font-weight: bold;
border: 20px solid var(--milan);
font-family: Arial, Helvetica, sans-serif;
font-size: var(--font-size-xl)
}

#clubs .table-event {
  border: 20px solid var(--milan);
}

#house_parties .table-event {
  border: 20px solid var(--milan);
}

.table-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 25px
}

.table-text{
  height: 79px;
  letter-spacing: 0;
  line-height: 70px;
  margin-right: 624.0px;
  margin-top: 21px;
  width: 546px;
}



.footer {
  background-color: black;
  padding: 70px 0;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}


.footer-col {
width: 25%;
padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-family: "Arial-Bold";
  position: relative;
  text-align: left; /* Force text to left */
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  text-align: left;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;

/*Header*/ 

