/* Start Header */

:root {
    --background: rgb(0, 0, 0);
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: #E3E3E3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  
  .content {
    height: 200vh;
    background-color: #d6607a;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
  }
  
  /* Navigation Style */
  
  header {
    background: var(--background);
    text-align: center;
    position: fixed;
    height: 100px;
    z-index: 999;
    width: 100%;
    margin-top: -230px;
    }
    
    .nav-toggle {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }
    
    .nav-toggle:focus ~ .nav-toggle-label {
      outline: 3px solid rgba(lightblue, .75);
    }
    
    .nav-toggle-label {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 1em;
      height: 100%;
      display: flex;
      align-items: center;
    }
    
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
     display: block;
     background: white;
     height: 2px;
     width: 2em;
    border-radius: 2px ;
    position: relative;
    }
    
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
      content: '';
      position: absolute;
    }
    
    .nav-toggle-label span::before {
    bottom: 7px;
    }
    
    .nav-toggle-label span::after {
      top : 7px;
      }
    
    nav {
      position: absolute;
      text-align: left;
      top: 0;
      left: 0;
      background: var(--background);
      width: 100%;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 400ms ease-in-out;
    }
    
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    nav li {
    margin-left: 1em;
    margin-bottom: 1em;
    }
    
    nav a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }
    
    nav a:hover {
      color: rgb(255, 255, 255);
    }
    
    .nav-toggle:checked ~ nav {
      transform: scale(1,1);
    }
    
    .nav-toggle:checked ~ nav a {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }
    
    @media screen and (min-width: 800px) {
      .nav-toggle-label {
        display: none;
      }
    
      header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
      }
    
    .Navlogo {
      grid-column: 1 / 3;
      margin-left: 30%;
      width: 12%;
      height: auto;
    }
    
    nav {
      all: unset;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
      justify-content: flex-end;
    
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative
    }
    }
    
    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: rgb(255, 255, 255);
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;
    
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
  
    /* Landing */

    .flex-row {
      display: flex;
      justify-content: flex-start;
      height: 786px;
      width: 1360px;
      margin-left: 280px;
      margin-top: 230px;
    }

    .flex-col-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      min-height: 768px;
      width: 680px
    }

    .workshop {
      height: 403px;
      width: 625px;
      margin-bottom: -59.5px;
      position: relative;
    }

    .violett {
      background-color: #bb7eba;
      height: 270px;
      width: 390px;
      left: 146px;
      opacity: 0.48;
      position: absolute;
    }

    .gruen {
      background: #AAD2CA;
      height: 300px;
      width: 650px;
      position: absolute;
      top: 21px;
      opacity: 0.7;
}

    .schnitt {
      background: #E3E3E3;
      width: 120px;
      height: 150px;
      position: absolute;
      top: 21px;
}

    .text-work {
      color: #FAF3A4;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 123px;
      font-weight: 700;
      position: absolute;
      left: 220px;
      top: 20px;
}

.text-shop {
  color: #FAF3A4;
  font-family: Poppins, Bold;
  font-size: 123px;
  font-weight: 700;
  position: absolute;
  left: 50px;
  top: 180px;
}

.theater {
  height: 403px;
  width: 625px;
  margin-bottom: 0px;
  position: relative;
}

.lachs {
  background-color: #FB9E97;
  height: 290px;
  width: 390px;
  top: 100px;
  left: 100px;
  position: absolute;
  opacity: 0.6;
}

.grass {
  background-color: #93D486;
  height: 330px;
  width: 360px;
  top: 20px;
  left: 200px;
  position: absolute;
  opacity: 0.6;
}

.text-thea {
  color: #8E999B;
  font-family: Poppins, Bold;
  font-size: 123px;
  font-weight: 700;
  position: absolute;
  left: 210px;
  top: 30px;
}

.text-ter {
  color: #8E999B;
  font-family: Poppins, Bold;
  font-size: 123px;
  font-weight: 700;
  position: absolute;
  left: 210px;
  top: 200px;
}

.flex-col-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 768px;
  width: 680px;
}

.himmel {
    background-color: #929ECD;
    height: 270px;
    width: 390px;
    opacity: 0.4;
    position: absolute;
    margin: 120px;
    margin-right: 100px;
}

.hellgelb {
  background-color: #FAF3A4;
    height: 300px;
    width: 350px;
    opacity: 0.7;
    position: absolute;
    margin: 30px;
    margin-right: 90px;
}

.text-kon {
  color: #BB7EBA;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 123px;
  font-weight: 700;
  position: absolute;
  margin: 33px;
  margin-right: 110px;
}

.text-zert {
  color: #BB7EBA;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 123px;
  font-weight: 700;
  position: absolute;
  margin: 190px;
  margin-right: 245px;
}

.dunkelgelb {
  background-color: #FAF3A4;
  height: 300px;
  width: 500px;
  opacity: 0.4;
  position: absolute;
  margin: 450px;
  margin-right: 450px;
}

.weinrot {
  background-color: #FB9E97;
  height: 300px;
  width: 500px;
  opacity: 1;
  position: absolute;
  margin: 500px;
  margin-right: 450px;
}
