@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:700,600");

@font-face {
  font-family: "Arial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/arial.ttf") format("truetype");
}
@font-face {
  font-family: "Arial-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FontsFree-Net-arial-bold.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeue-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
}
@font-face {
  font-family: "AdobeClean-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AdobeClean-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Futura-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/futura.zip");
}
@font-face {
  font-family: "Futura-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/futura.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.nav-bar {
  background-color: var(--black);
  height: 126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.menu {
  height: 38px;
  object-fit: cover;
  width: 60px;
}

.kontakt {
  display: flex;
  height: 27px;
  margin-top: 16px;
  width: 87px;
}

.kontakt-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2px;
  margin-right: -2px;
  width: 87px;
}

.impressum {
  display: flex;
  height: 30px;
  margin-top: 22px;
  width: 113px;
}

.impressum-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2px;
  margin-right: -2px;
  width: 113px;
}

.komponente-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 232px;
  margin-top: 0.94px;
  min-height: 124px;
  width: 193px;
}

.komponente-29-4 {
  background-image: url(../img/pfad-38-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 2.7px;
  width: 15.32px;
}

/* .facebook {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2px;
  margin-right: -2px;
  width: 125px;
} */

/* .komponente-30-1 {
  background-image: url(../img/pfad-39-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 3.1px;
  width: 29.61px;
}

.kontakt-2 {
  display: flex;
  margin-top: 0.1px;
  width: 87px;
} */

/* .twitter {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2px;
  margin-right: -2px;
  width: 87px;}
  */


/* .komponente-31-1 {
  background-image: url(../img/pfad-40-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 3.9px;
  width: 29.61px;
} */

/* .impressum-2 {
  display: flex;
  margin-top: 3.6px;
  width: 113px;
} */

/* .instagram {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2px;
  margin-right: -2px;
  width: 113px;
} */

/* .newsletter-anmeldung {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 24px;
  white-space: nowrap;
} */

/* .required-field {
  align-items: flex-end;
  border: 1px solid;
  border-color: var(--white);
  display: flex;
  height: 40px;
  min-width: 210px;
  padding: 11px 19px;
}

.email-addresse {
  letter-spacing: 0;
  line-height: 12px;
  min-height: 16px;
  min-width: 85px;
  white-space: nowrap;
}

.ok {
  letter-spacing: 0;
  line-height: 12px;
  min-height: 13px;
  min-width: 16px;
  text-align: center;
  white-space: nowrap;
}

.weissensteinstr-23 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 176px;
  margin-top: 12px;
  min-height: 104px;
  white-space: nowrap;
} */

.backward-arrow {
  background-image: url(../img/pfad-10-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 56px;
  margin-left: 15px;
  margin-top: 12px;
  width: 56px;
}

.rechteck-130 {
  background-color: var(--white);
  border: 5px solid;
  border-color: var(--black);
  height: 1px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 338px;
}

.overlap-group1-item {
  left: 18px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.auswhlen {
  align-items: flex-end;
  background-image: url(../img/pfad-221-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 25px;
  justify-content: space-between;
  left: 145px;
  position: absolute;
  top: 0;
  width: 171px;
}

.auswhlen-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -0.9px;
  margin-left: 12.2px;
  margin-top: -0.1px;
  width: 105px;
}

.pfad-36 {
  height: 6.1px;
  margin-bottom: -3.0px;
  margin-right: 15.7px;
  object-fit: cover;
  width: 9.4px;
}

.auswhlen-2 {
  align-items: flex-end;
  background-image: url(../img/pfad-221-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 25px;
  justify-content: space-between;
  left: 147px;
  position: absolute;
  top: 0;
  width: 171px;
}

.auswhlen-3 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -1.7px;
  margin-left: 12.2px;
  margin-top: 0.7px;
  width: 105px;
}

.kreis {
  align-items: flex-start;
  display: flex;
  height: 15px;
  left: 178px;
  min-width: 93px;
  position: absolute;
  top: 6px;
}

.rechteck-1545 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 5px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 93px;
}

.ellipse-278 {
  background-color: var(--black);
  border-radius: 7.5px;
  height: 15px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 15px;
}

.pfad-150 {
  height: 3px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 333px;
}

.linie-2 {
  height: 4px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 333px;
}

.filter-1 {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 28px;
  font-weight: 700;
  left: 23px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.pfad-223 {
  height: 11px;
  left: 290px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 16px;
}

.datum-name-ort-zeit {
  background-color: var(--white);
  display: flex;
  height: 90px;
  margin-right: 1.0px;
  width: 1173px;
}

.gruppe-158 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 44px;
  margin-left: 47px;
  margin-right: 40px;
  margin-top: 23px;
  min-width: calc(100.00% - 87px);
}

.datum {
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -4px;
  min-height: 46px;
  min-width: 126px;
  white-space: nowrap;
}

.ort {
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -4px;
  margin-left: 154px;
  min-height: 46px;
  min-width: 62px;
  white-space: nowrap;
}

.zeit {
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -4px;
  margin-left: 166px;
  min-height: 46px;
  min-width: 73px;
  white-space: nowrap;
}

.hinweis {
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -4px;
  margin-left: 129px;
  min-height: 46px;
  min-width: 153px;
  white-space: nowrap;
}

.clubs {
  height: 79px;
  letter-spacing: 0;
  line-height: 70px;
  margin-right: 624.0px;
  margin-top: 21px;
  white-space: nowrap;
  width: 546px;
}

.gruppe-278 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 49px;
  margin-left: 41px;
  margin-right: 97px;
  margin-top: 19px;
  min-width: calc(100.00% - 138px);
}

.date {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  min-height: 51px;
  min-width: 117px;
  white-space: nowrap;
}

.neon-party {
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: -7px;
  margin-left: 100px;
  min-height: 51px;
  min-width: 184px;
  white-space: nowrap;
}

.button-1 {
  align-items: flex-end;
  align-self: center;
  background-color: var(--white);
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: 14px;
  margin-top: 4.0px;
  min-width: 60px;
  padding: 12.5px 21.0px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer {
  background-color: black;
  padding: 70px 0;
}

.footer-col {
width: 25%;
padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-family: "Arial-Bold";
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

/*responsive*/
@media(max-with: 767px){
  .footer-col {
  width: 50%;
  margin-bottom: 30px;
}
}

/*responsive*/
@media(max-with: 574px){
  .footer-col {
  width: 100%;
  margin-bottom: 30px;
}
}

/*responsive*/
@media(max-with: 767px){
  .header {
  width: 50%;
  margin-bottom: 30px;
}
}

/*responsive*/
@media(max-with: 574px){
  .header {
  width: 100%;
  margin-bottom: 30px;
}
}

.header 