/* screen - landing */

.landing {
  align-items: center;
  background-color: var(--ebb);
  display: flex;
  flex-direction: column;
  height: 3962px;
  overflow: hidden;
  width: 1920px;
}

.landing .flex-col {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  min-height: 1358px;
  width: 1943px;
}

.landing .overlap-group7 {
  height: 126px;
  position: relative;
  width: 1943px;
}

.landing .men {
  align-items: flex-start;
  display: flex;
  height: 61px;
  left: 1633px;
  min-width: 310px;
  padding: 0.0px 122.0px;
  position: absolute;
  top: 37px;
}

.landing .logo {
  height: 108px;
  left: 100px;
  object-fit: cover;
  position: relative;
  top: 6px;
  width: 220px;
}

.landing .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  height: 786px;
  margin-right: 22.61px;
  margin-top: 47px;
  min-width: 1221px;
}

.landing .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 17px;
  min-height: 768px;
  width: 625px;
}

.landing .workshop {
  align-items: flex-end;
  display: flex;
  height: 343px;
  justify-content: flex-end;
  min-width: 625px;
}

.landing .overlap-group3 {
  height: 403px;
  margin-bottom: -59.5px;
  position: relative;
  width: 625px;
}

.landing .rechteck-1500 {
  background-color: #bb7eba;
  height: 257px;
  left: 146px;
  opacity: 0.48;
  position: absolute;
  top: 0;
  width: 364px;
}

.landing .Quadrat_gruen {
  height: 312px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 625px;
}

.landing .workshop-1 {
  color: var(--milan);
  font-family: var(--font-family-poppins);
  font-size: 123px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0;
  line-height: 57px;
  position: absolute;
  top: 58px;
  white-space: nowrap;
}

.landing .theater {
  align-items: flex-end;
  display: flex;
  height: 409px;
  margin-left: 31.04px;
  min-width: 451px;
}

.landing .overlap-group {
  height: 429px;
  margin-bottom: -20.23px;
  position: relative;
  width: 451px;
}

.landing .rechteck-1488 {
  background-color: var(--mona-lisa);
  height: 306px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 103px;
  width: 426px;
}

.landing .rechteck-394 {
  background-color: #93d486;
  height: 360px;
  left: 67px;
  opacity: 0.59;
  position: absolute;
  top: 0;
  width: 384px;
}

.landing .theater-1 {
  color: #8e999b;
  font-family: var(--font-family-poppins);
  font-size: 135px;
  font-weight: 700;
  left: 94px;
  letter-spacing: 0;
  line-height: 91px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.landing .flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 27px;
  min-height: 784px;
  width: 587px;
}

.landing .konzert {
  align-items: flex-end;
  display: flex;
  height: 381px;
  margin-right: 59.56px;
  min-width: 401px;
}

.landing .overlap-group1 {
  height: 438px;
  margin-bottom: -75.0px;
  position: relative;
  width: 401px;
}

.landing .rechteck-1490 {
  background-color: #929ecd;
  height: 290px;
  left: 75px;
  opacity: 0.4;
  position: absolute;
  top: 69px;
  width: 326px;
}

.landing .rechteck-395 {
  background-color: var(--milan);
  height: 322px;
  left: 0;
  opacity: 0.74;
  position: absolute;
  top: 0;
  width: 344px;
}

.landing .konzert-1 {
  color: #bb7eba;
  font-family: var(--font-family-poppins);
  font-size: 138px;
  font-weight: 700;
  left: 9px;
  letter-spacing: 0;
  line-height: 47px;
  position: absolute;
  top: 55px;
  white-space: nowrap;
}

.landing .ausgang {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 587px;
}

.landing .overlap-group2 {
  height: 376px;
  margin-top: 0;
  position: relative;
  width: 587px;
}

.landing .rechteck-1491 {
  background-color: var(--energy-yellow);
  height: 302px;
  left: 0;
  opacity: 0.36;
  position: absolute;
  top: 74px;
  width: 550px;
}

.landing .rechteck-397 {
  background-color: var(--mona-lisa);
  height: 342px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 380px;
}

.landing .rechteck-1484 {
  background-color: var(--mona-lisa);
  height: 171px;
  left: 247px;
  position: absolute;
  top: 0;
  width: 340px;
}

.landing .aus-gang {
  color: #c6dcbc;
  font-family: var(--font-family-poppins);
  font-size: 118px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  top: 47px;
  white-space: nowrap;
}

.landing .top-events-container {
  height: 212px;
  margin-right: 23.0px;
  margin-top: 188px;
  position: relative;
  width: 874px;
}

.landing .top-events-rechteck {
  background-color: var(--white);
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 874px;
}

.landing .top-events {
  left: 48px;
  letter-spacing: 0;
  line-height: 130px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.landing .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 56px;
  height: 1374px;
  margin-top: 60px;
  min-width: 1300px;
}

.landing .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1374px;
  width: 690px;
}

.landing .bierhuebeli {
  align-items: flex-start;
  display: flex;
  min-width: 690px;
}

.landing .post-preview-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 36px;
  min-height: 380px;
  padding: 28px 30px;
  width: 345px;
}

.landing .theater-2 {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 23px;
  white-space: nowrap;
}

.landing .overlap-group-1 {
  height: 200px;
  position: relative;
  width: 277px;
}

.landing .ruber-hotzenplotz {
  height: 134px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 277px;
}

.landing .excepteur-sint-occae {
  height: 72px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 128px;
  width: 277px;
}

.landing .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 17px;
  margin-left: 5px;
  min-width: 124px;
}

.landing .places {
  display: flex;
  height: 16px;
  width: 16px;
}

.landing .marker {
  flex: 1;
  margin-bottom: 0;
  margin-left: 1.0px;
  margin-right: 1.8px;
  margin-top: 0;
  object-fit: cover;
  width: 13.18px;
}

.landing .likes {
  align-self: flex-end;
  display: flex;
  height: 16px;
  width: 103px;
}

.landing .berner-buehnen {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2px;
  margin-right: -2px;
  margin-top: -4px;
  white-space: nowrap;
  width: 103px;
}

.landing .rechteck-container {
  height: 422px;
  position: relative;
  width: 345px;
}

.landing .rechteck_rot {
  background-color: #d6607a;
  height: 380px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 345px;
}

.landing .rechteck-1492 {
  background-color: var(--energy-yellow);
  height: 313px;
  left: 42px;
  opacity: 0.56;
  position: absolute;
  top: 109px;
  width: 263px;
}

.landing .blues-jamsession {
  align-items: flex-start;
  display: flex;
  margin-top: 58px;
  min-width: 690px;
}

.landing .post-preview-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 380px;
  padding: 28px 17px;
  width: 345px;
}

.landing .konzert-2 {
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 13px;
  min-height: 23px;
  white-space: nowrap;
}

.landing .overlap-group-2 {
  align-self: flex-end;
  height: 216px;
  margin-top: 36px;
  position: relative;
  width: 298px;
}

.landing .blues-jamsession-1 {
  height: 158px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 298px;
}

.landing .excepteur-sint-occae-1 {
  height: 72px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 144px;
  width: 277px;
}

.landing .flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 17px;
  margin-left: 18px;
  margin-top: 20px;
  min-width: 95px;
}

.landing .likes-1 {
  align-self: flex-end;
  display: flex;
  height: 16px;
  width: 74px;
}

.landing .ono-keller {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2px;
  margin-right: -2px;
  margin-top: -4px;
  white-space: nowrap;
  width: 74px;
}

.landing .rechteck-container-1 {
  height: 411px;
  position: relative;
  width: 345px;
}

.landing .rechteck_gruen {
  background-color: #93d486;
  height: 380px;
  left: 0;
  opacity: 0.37;
  position: absolute;
  top: 0;
  width: 345px;
}

.landing .rechteck-1493 {
  background-color: var(--mona-lisa);
  height: 313px;
  left: 42px;
  opacity: 0.56;
  position: absolute;
  top: 98px;
  width: 263px;
}

.landing .overlap-group9 {
  height: 420px;
  margin-top: 63px;
  position: relative;
  width: 690px;
}

.landing .post-preview-3 {
  display: flex;
  height: 380px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 690px;
}

.landing .post-preview {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 28px 30px;
  width: 345px;
}

.landing .workshop-2 {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 23px;
  white-space: nowrap;
}

.landing .excepteur-sint-occae-2 {
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 164px;
  width: 277px;
}

.landing .flex-row-4 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 17px;
  margin-left: 5px;
  margin-top: 36px;
  min-width: 133px;
}

.landing .likes-2 {
  align-self: flex-end;
  display: flex;
  height: 16px;
  width: 112px;
}

.landing .hennig-bckerei {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2px;
  margin-right: -2px;
  margin-top: -4px;
  white-space: nowrap;
  width: 112px;
}

.landing .rechteck_gelb {
  background-color: var(--milan);
  opacity: 0.6;
  width: 345px;
}

.landing .backkurs {
  height: 89px;
  left: 31px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 88px;
  width: 298px;
}

.landing .rechteck-1494 {
  background-color: var(--energy-yellow);
  height: 313px;
  left: 387px;
  opacity: 0.84;
  position: absolute;
  top: 107px;
  width: 263px;
}

.landing .werbung {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1341px;
  width: 554px;
}

.landing .photo {
  height: 462px;
  object-fit: cover;
  width: 554px;
}

.landing .photo-1 {
  height: 362px;
  margin-top: 37px;
  object-fit: cover;
  width: 554px;
}

.landing .photo-2 {
  height: 369px;
  margin-top: 111px;
  object-fit: cover;
  width: 554px;
}

.landing .overlap-group10 {
  height: 212px;
  margin-right: 1.0px;
  margin-top: 110px;
  position: relative;
  width: 727px;
}

.landing .top-events-rechteck-1 {
  background-color: var(--white);
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 727px;
}

.landing .ber-uns {
  left: 50px;
  letter-spacing: 0;
  line-height: 130px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.landing .flex-row-5 {
  align-items: flex-start;
  display: flex;
  gap: 56px;
  margin-top: 70px;
  min-width: 1300px;
}

.landing .bierhuebeli-1 {
  display: flex;
  height: 380px;
  justify-content: space-between;
  width: 690px;
}

.landing .team {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 23px;
  white-space: nowrap;
}

.landing .passion-pro {
  height: 67px;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 36px;
  width: 277px;
}

.landing .excepteur-sint-occae-3 {
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 60px;
  width: 277px;
}

.landing .rechteck-84-3 {
  background-color: var(--black);
  opacity: 0.61;
  width: 345px;
}

.landing .overlap-group11 {
  align-items: flex-end;
  background-color: #00000020;
  display: flex;
  height: 380px;
  min-width: 554px;
  padding: 112.9px 200.2px;
}

.landing .gruppe-311 {
  background-image: url(../img/gruppe-310@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 134px;
  width: 134px;
}

.landing .overlap-group6 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 266px;
  justify-content: flex-end;
  margin-top: 137px;
  min-width: 1920px;
  padding: 55px 187px;
}

.landing .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 125px;
  width: 113px;
}

.landing .ueber-uns-1 {
  display: flex;
  height: 30px;
  width: 90px;
}

.landing .ueber-uns-2 {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  flex: 1;
  line-height: 20px;
  width: 90px;
}

.landing .komponente-34-1 {
  align-self: flex-end;
  display: flex;
  height: 32px;
  justify-content: space-between;
  width: 186px;
}

.landing .ber-uns-3 {
  display: flex;
  margin-top: 2.1px;
  width: 125px;
}

.landing .komponente-33-1 {
  display: flex;
  height: 27px;
  justify-content: space-between;
  margin-top: 17px;
  width: 155px;
}

.landing .komponente-32-1 {
  display: flex;
  height: 34px;
  justify-content: space-between;
  margin-top: 14px;
  width: 181px;
}

.landing .flex-col-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36.0px;
  margin-left: 159px;
  min-height: 80px;
  width: 210px;
}

.landing .button {
  align-items: flex-end;
  align-self: center;
  background-color: var(--white);
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: 14px;
  margin-top: 4.0px;
  min-width: 60px;
  padding: 12.5px 21.0px;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #000000;
  padding: 15px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* Change the background color on mouse-over */
.header a:hover {
  background-color: #82C6B9;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
display: flex;
flex-direction: row;
gap: 30px;
}

.header-right a {
font-family: Arial, Helvetica, sans-serif;
color: white;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    display: block;
    text-align: left;
  }
  .header-right {
  }
}