/* screen - partnerschaften */

.partnerschaften {
  align-items: flex-start;
  background-color: var(--ebb);
  display: flex;
  flex-direction: column;
  height: 2895px;
  overflow: hidden;
  width: 1920px;
}

.partnerschaften .overlap-group8 {
  height: 126px;
  margin-left: 0;
  position: relative;
  width: 1966px;
}

.partnerschaften .logo {
  height: 108px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 220px;
}

.partnerschaften .men {
  align-items: flex-start;
  display: flex;
  height: 61px;
  left: 1656px;
  min-width: 310px;
  padding: 0.0px 122.0px;
  position: absolute;
  top: 37px;
}

.partnerschaften .flex-row {
  align-items: center;
  display: flex;
  gap: 57px;
  margin-left: 69px;
  margin-top: 69px;
  min-width: 1529px;
}

.partnerschaften .zurck-pfeil {
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  height: 86px;
  margin-bottom: 15.5px;
  width: 86px;
}

.partnerschaften .overlap-group9 {
  height: 226px;
  position: relative;
  width: 1386px;
}

.partnerschaften .rechteck-1487 {
  background-color: var(--white);
  height: 209px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1386px;
}

.partnerschaften .partnerschaften-1 {
  left: 46px;
  letter-spacing: 0;
  line-height: 130px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.partnerschaften .flex-row-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  gap: 54px;
  height: 2033px;
  margin-left: 3.0px;
  margin-top: 40px;
  min-width: 1277px;
}

.partnerschaften .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 2033px;
  width: 621px;
}

.partnerschaften .berner-bhnen {
  height: 42px;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 0;
  white-space: nowrap;
}

.partnerschaften .lorem-ipsum-dolor-si {
  height: 307px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 0;
  margin-top: 21px;
  width: 602px;
}

.partnerschaften .post-preview {
  display: flex;
  height: 182px;
  margin-top: 18px;
  width: 600px;
}

.partnerschaften .comment {
  background-color: #f5e05a9a;
  display: flex;
  flex: 1;
  width: 600px;
}

.partnerschaften .lorem-ipsum-dolor-s {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2px;
  margin-left: 80px;
  margin-right: 78px;
  margin-top: 28px;
  width: 442px;
}

.partnerschaften .overlap-group5 {
  height: 547px;
  margin-left: 0;
  margin-top: 219px;
  position: relative;
  width: 621px;
}

.partnerschaften .overlap-group5-item {
  color: #707070;
  font-family: var(--font-family-helveticaneue-regular);
  font-size: 60px;
  font-weight: 400;
  left: 119px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 330px;
  white-space: nowrap;
}

.partnerschaften .post-preview-1 {
  background-color: var(--white);
  height: 547px;
  left: 0;
  position: absolute;
  top: 0;
  width: 600px;
}

.partnerschaften .gruppe-733 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 128px;
  min-height: 259px;
  position: absolute;
  top: 132px;
  width: 163px;
}

.partnerschaften .pfad-740 {
  height: 42px;
  margin-left: 0.09px;
  object-fit: cover;
  width: 163px;
}

.partnerschaften .pfad-container {
  background-image: url(../img/pfad-741@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 201px;
  margin-left: 0;
  position: relative;
  width: 163px;
}

.partnerschaften .pfad-742 {
  height: 128px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 108px;
}

.partnerschaften .pfad-743 {
  height: 32px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 39px;
}

.partnerschaften .pfad-744 {
  height: 23px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 21px;
}

.partnerschaften .pfad-745 {
  height: 12px;
  left: 108px;
  object-fit: cover;
  position: absolute;
  top: 149px;
  width: 15px;
}

.partnerschaften .stadt-bern {
  color: var(--black);
  font-family: var(--font-family-futura-bold);
  font-size: 35px;
  font-weight: 700;
  left: 309px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 297px;
  width: 312px;
}

.partnerschaften .kultur {
  color: var(--black);
  font-family: var(--font-family-futura-medium);
  font-size: 28px;
  font-weight: 500;
  height: 46px;
  left: 311px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 255px;
  width: 138px;
}

.partnerschaften .bierhbeli {
  align-self: center;
  height: 42px;
  letter-spacing: 0;
  line-height: 40px;
  margin-right: 7.07px;
  margin-top: 110px;
  white-space: nowrap;
  width: 602px;
}

.partnerschaften .lorem-ipsum-dolor-si-1 {
  align-self: center;
  height: 300px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 7.07px;
  margin-top: 26px;
  width: 602px;
}

.partnerschaften .overlap-group7 {
  align-items: flex-end;
  align-self: center;
  background-color: #bb7eba5f;
  display: flex;
  height: 204px;
  margin-right: 7.07px;
  margin-top: 15px;
  min-width: 600px;
  padding: 25px 73px;
}

.partnerschaften .lorem-ipsum-dolor-s-1 {
  height: 140px;
  letter-spacing: 0;
  line-height: 24px;
  width: 442px;
}

.partnerschaften .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1968px;
  width: 602px;
}

.partnerschaften .overlap-group6 {
  background-color: var(--white);
  height: 505px;
  position: relative;
  width: 600px;
}

.partnerschaften .pfad-container-1 {
  height: 308px;
  left: 237px;
  position: absolute;
  top: 93px;
  width: 198px;
}

.partnerschaften .pfad-709 {
  height: 301px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 130px;
}

.partnerschaften .pfad-711 {
  height: 288px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 113px;
}

.partnerschaften .bhnen-bern {
  color: var(--black);
  font-family: var(--font-family-futura-medium);
  font-size: 50px;
  font-weight: 500;
  height: 79px;
  left: 58px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 218px;
  transform: rotate(-90deg);
  width: 292px;
}

.partnerschaften .stadt-bern-1 {
  height: 42px;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 163px;
  white-space: nowrap;
}

.partnerschaften .lorem-ipsum-dolor-si-2 {
  height: 321px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  width: 602px;
}

.partnerschaften .comment-1 {
  background-color: #929ecdb3;
  display: flex;
  height: 200px;
  margin-top: 28px;
  width: 600px;
}

.partnerschaften .lorem-ipsum-dolor-s-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 31px;
  margin-left: 80px;
  margin-right: 78px;
  margin-top: 32px;
  width: 442px;
}

.partnerschaften .overlap-group3 {
  height: 517px;
  margin-top: 180px;
  position: relative;
  width: 600px;
}

.partnerschaften .overlap-group3-item {
  background-image: url(../img/vereinigungsmenge-3-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 56px;
  left: 122px;
  position: absolute;
  top: 280px;
  width: 58px;
}

.partnerschaften .overlap-group3-item-1 {
  background-image: url(../img/vereinigungsmenge-3-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 56px;
  left: 122px;
  position: absolute;
  top: 259px;
  width: 58px;
}

.partnerschaften .photo {
  background-color: var(--white);
  height: 517px;
  left: 0;
  position: absolute;
  top: 0;
  width: 600px;
}

.partnerschaften .gruppe-763 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  left: 97px;
  min-height: 269px;
  position: absolute;
  top: 116px;
  width: 411px;
}

.partnerschaften .gruppe-287 {
  align-items: flex-start;
  background-image: url(../img/pfad-720@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 204px;
  justify-content: flex-end;
  min-width: 411px;
  padding: 22.9px 83.6px;
}

.partnerschaften .pfad-container-2 {
  height: 155px;
  position: relative;
  width: 227px;
}

.partnerschaften .pfad-721 {
  height: 109px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 178px;
}

.partnerschaften .pfad-722 {
  height: 123px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 157px;
}

.partnerschaften .pfad-723 {
  height: 77px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 89px;
}

.partnerschaften .pfad-724 {
  height: 61px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 94px;
  width: 130px;
}

.partnerschaften .pfad-725 {
  height: 51px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 178px;
}

.partnerschaften .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-right: 12.63px;
  min-width: 354px;
}

.partnerschaften .pfad-730 {
  height: 39px;
  object-fit: cover;
  width: 33px;
}

.partnerschaften .pfad-737 {
  height: 39px;
  margin-left: 9px;
  margin-top: 0.1px;
  object-fit: cover;
  width: 10px;
}

.partnerschaften .pfad-733 {
  height: 39px;
  margin-left: 11px;
  margin-top: 0.09px;
  object-fit: cover;
  width: 30px;
}

.partnerschaften .pfad-731 {
  height: 39px;
  margin-left: 9px;
  margin-top: 0.01px;
  object-fit: cover;
  width: 34px;
}

.partnerschaften .pfad-732 {
  height: 39px;
  margin-left: 8px;
  margin-top: 0.09px;
  object-fit: cover;
  width: 34px;
}

.partnerschaften .overlap-group2 {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/pfad-735@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 40px;
  margin-left: 11px;
  min-width: 33px;
  padding: 0.1px 13.2px;
}

.partnerschaften .pfad-738 {
  height: 9px;
  object-fit: cover;
  width: 6px;
}

.partnerschaften .pfad-739 {
  height: 39px;
  margin-left: 10px;
  margin-top: 0.04px;
  object-fit: cover;
  width: 33px;
}

.partnerschaften .pfad-734 {
  height: 39px;
  margin-left: 9px;
  margin-top: 0.11px;
  object-fit: cover;
  width: 30px;
}

.partnerschaften .pfad-736 {
  height: 39px;
  margin-left: 9px;
  margin-top: 0.01px;
  object-fit: cover;
  width: 25px;
}

.partnerschaften .pfad-729 {
  height: 39px;
  margin-left: 7px;
  margin-top: 0;
  object-fit: cover;
  width: 10px;
}

.partnerschaften .overlap-group4 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 266px;
  justify-content: flex-end;
  margin-top: 136px;
  min-width: 1920px;
  padding: 55px 187px;
}

.partnerschaften .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 125px;
  width: 113px;
}

.partnerschaften .ber-uns {
  display: flex;
  height: 30px;
  width: 90px;
}

.partnerschaften .ber-uns-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2px;
  margin-right: -2px;
  width: 90px;
}

.partnerschaften .komponente-34-26 {
  align-self: flex-end;
  display: flex;
  height: 32px;
  justify-content: space-between;
  width: 186px;
}

.partnerschaften .ber-uns-2 {
  display: flex;
  margin-top: 2.1px;
  width: 125px;
}

.partnerschaften .komponente-33-26 {
  display: flex;
  height: 27px;
  justify-content: space-between;
  margin-top: 17px;
  width: 155px;
}

.partnerschaften .komponente-32-26 {
  display: flex;
  height: 34px;
  justify-content: space-between;
  margin-top: 14px;
  width: 181px;
}

.partnerschaften .flex-col-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36.0px;
  margin-left: 159px;
  min-height: 80px;
  width: 210px;
}

.partnerschaften .button {
  align-items: flex-end;
  align-self: center;
  background-color: var(--white);
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: 14px;
  margin-top: 4.0px;
  min-width: 60px;
  padding: 12.5px 21.0px;
}
