:root { 
  --black: #000000;
  --ebb: #e3e3e3;
  --energy-yellow: #f5e05a;
  --milan: #faf3a4;
  --mona-lisa: #fb9e97;
  --white: #ffffff;
 
  --font-size-l: 21px;
  --font-size-m: 20px;
  --font-size-s: 14px;
  --font-size-xl: 39px;
  --font-size-xs: 12px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 45px;
 
  --font-family-adobeclean-regular: "AdobeClean-Regular", Helvetica;
  --font-family-arial: "Arial", Helvetica;
  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-futura-bold: "Futura-Bold", Helvetica;
  --font-family-futura-medium: "Futura-Medium", Helvetica;
  --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.adobeclean-regular-normal-black-39px {
  color: var(--black);
  font-family: var(--font-family-adobeclean-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.helveticaneue-regular-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.arial-regular-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.arial-bold-black-40px {
  color: var(--black);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.arial-regular-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.arial-regular-normal-black-21px {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.helveticaneue-regular-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.arial-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-black-15px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-black-45px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.arial-regular-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.arial-regular-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.arial-regular-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-black-70px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
}

.arial-regular-normal-black-39px {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.arial-bold-black-39px {
  color: var(--black);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-black-130px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 130px;
  font-style: normal;
  font-weight: 700;
}

.arial-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.arial-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-arial-bold);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.arial-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-arial);
  font-size: var(--font-size-m);
}
